.*.swp
*.o

/gf_div
/gf_mult
/libgalois.so
/libgalois.so.1
/libgalois.so.1.0.0
/gf_xor_tester
/gf_basic_tester
/gf_inverse
/gf_ilog
/gf_log
/rs_decode_file
/rs_encode_file
/gf_xor
/primitive-polynomial-table.txt
/timing.txt
